<?xml version="1.0"?>
<!--
/**
 * USA ePay Magento Plugin.
 * v1.1.9 - July 3rd, 2015
 *
 * For assistance please contact devsupport@usaepay.com
 *
 * Copyright (c) 2010 USAePay
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions
 * are met:
 *
 *     - Redistributions of source code must retain the above copyright
 *       notice, this list of conditions and the following disclaimer.
 *     - Redistributions in binary form must reproduce the above
 *       copyright notice, this list of conditions and the following
 *       disclaimer in the documentation and/or other materials
 *       provided with the distribution.
 *     - Neither the name of the USAePay nor the names of its
 *       contributors may be used to endorse or promote products
 *       derived from this software without specific prior written
 *       permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS
 * "AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT
 * LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS
 * FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE
 * COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT,
 * INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING,
 * BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
 * LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
 * CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
 * LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN
 * ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
 * POSSIBILITY OF SUCH DAMAGE.
 *
 * @category    Mage
 * @package     Mage_Usaepay_Block_Form
 * @copyright   Copyright (c) 2010 USAePay  (www.usaepay.com)
 * @license     http://opensource.org/licenses/bsd-license.php  BSD License
 */
-->
<config>
    <modules>
        <Mage_Usaepay>
            <version>1.1.8</version>
        </Mage_Usaepay>
    </modules>
    <frontend>
        <layout>
            <updates>
                <usaepay>
                    <file>usaepay.xml</file>
                </usaepay>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <usaepay>
                    <file>usaepay.xml</file>
                </usaepay>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <usaepay><class>Mage_Usaepay_Block</class></usaepay>
        </blocks>
        <models>
            <usaepay>
                <class>Mage_Usaepay_Model</class>
            </usaepay>
        </models>
        <resources>
            <usaepay_setup>
                <setup>
                    <module>Mage_Usaepay</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </usaepay_setup>
            <usaepay_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </usaepay_write>
            <usaepay_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </usaepay_read>
        </resources>
        <payment>
            <cc>
                <types>
                    <GC>
                        <code>GC</code>
                        <name>Gift Card</name>
                        <order>999</order>
                    </GC>
                </types>
            </cc>
        </payment>
        <fieldsets>
            <sales_convert_quote_payment>
                <cc_usaepay_token>
                    <to_order_payment>*</to_order_payment>
                </cc_usaepay_token>
            </sales_convert_quote_payment>
        </fieldsets>
    </global>
    <default>
        <payment>
            <usaepay>
                <model>usaepay/CCPaymentAction</model>
                <title>USAePay Gateway</title>
                <order_status>pending</order_status>
                <title>Credit Card</title>
                <active>0</active>
                <extendedfraudprofiling>0</extendedfraudprofiling>
                <usesuspectedfraud>0</usesuspectedfraud>
                <allowspecific>0</allowspecific>
                <card_detect>0</card_detect>
                <cctypes>AE,VI,MC,DI,GC</cctypes>
                <payment_action>authorize</payment_action>
                <currency>USD</currency>
                <tokenization>0</tokenization>
                <timeout>45</timeout>
            </usaepay>
        </payment>
    </default>
</config>
